#experiencePage_Mobile {
    display:none;
}

#mlhPicExperience_Mobile {
    background-image:url("../images/mlh3.png");
    background-position: -41px -28px;
    background-repeat: no-repeat;
    background-size: 280px auto;
    border: medium none;
    display: block;
    opacity:0.9;
    height: 185px;    
    width: 195px;
    float:none; 
    margin:0px auto;
}

#wysdomPicExperience_Mobile {
    background-image:url("wysdom.png");
    background-position: -49px -20px;
    background-repeat: no-repeat;
    background-size: 280px auto;
    border: medium none;
    display: block;
    height: 185px;
    opacity: 0.8;
    background-position: -45px;
    width: 195px;
    float:none; 
    margin:0px auto;
   
}

#ryersonPicExperience_Mobile {
    background-image:url("ryerson.png");
    background-size: 249px auto; 
    background-position:-11px -50px;
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    height: 185px;
    opacity: 0.8;
    width: 195px;
    float:none; 
    margin:0px auto;
}

.experienceDescription_Mobile {
    text-align:center; 
    float:none; 
    margin: 5%;
}

p.experience_CompanyNameText {
    font-size:12px; 
    font-weight:bold;
    text-align: center;
    color:black;
}

p.experience_DurationText {
    font-size:12px;
    text-align: center;
    color:black;
}

.experience_Description {
    text-align:justify;
    font-size:12px;
    color:black;
}

p.experience_Tools {
    text-align:center;
    font-size:12px;
    color:black;
}

#experiencePage {
    left:100px; 
    width:935px; 
    height: 385px; 
    top:-20px ;  
    display:none; 
    position:relative;
/*
    background-repeat:none; 
    z-index:3; 
    position:relative;
    background-position:10px 50px; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-image: url('../images/roadImage2.jpg');
*/
}

#experienceBody_Desktop {
    position:relative;  
    height: 228px; 
    top:5px; 
    left:0px;
}
